doctype html
html
    head
        title= title

        link(rel='stylesheet', href='/css/bootstrap/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style_main.css')
        link(rel='stylesheet', href='/css/tree.themes/default/style.css')
        script(src='/js/jquery.min.js')
        script(src="/js/go.js")
        script(src="/js/main_structure/main_structure_data.js")
        script(src="/js/svg-pan-zoom.min.js")
        script(src="/js/jstree.js")

    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-primary
            a.navbar-brand.abs(href='/')
                img(src="/favicon.ico")
                | &nbsp;Русполимет
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsingNavbar')
                span.navbar-toggler-icon
            #collapsingNavbar.navbar-collapse.collapse
                ul.navbar-nav
                    li.nav-item.active
                        a.nav-link(href='/', data-toggle='collapse') Структура
                    li.nav-item.active
                        a.nav-link(href='/map', data-toggle='collapse') Карта
                    li.nav-item.active
                        a.nav-link(href='/about', data-toggle='collapse') О программе


        block content
            main.container-flui(role='main')
                .row
                    .col-md-12.blog-main
                        h3.pb-3.mb-4.font-italic.border-bottom
                            | Структура оборудования по подразделениям


                .row
                    .col-sm-12
                        div(id="sample", style="position: relative;")
                            div(id="chart-container") eeee


                    script(src="/js/main_structure/main_structure.js")
        footer.blog-footer
            p База знаний по оборудованию ПАО "Русполимет"   &copy
                a(href='') Руденко О.В.
            p
                a(href='#') На верх.



