extends ../../../main/layout

block content

    main.container-flui(role='main')
        .row
            .col-md-12.blog-main
                h3.pb-3.mb-4.font-italic.border-bottom
                    | Структура оборудования по


        .row
            .col-sm-12
